MOTD_PATH=/etc/motd
MOTD_FORMAT="txt"
OOD_DASHBOARD_LOGO=/public/ood_logo.svg
OOD_DASHBOARD_LOGO_HEIGHT="100px"
OOD_DASHBOARD_SUPPORT_URL="<help page url>"
OOD_DASHBOARD_DOCS_URL="<docs url>"
OOD_BC_DYNAMIC_JS=true
OOD_QUOTA_PATH="<quota url>"
OOD_QUOTA_THRESHOLD="0.90"
CLUSTER_NAME=Gautschi
EXCLUDED_PARTITIONS=cocosys,gautschi-nodes,profiling
ACCOUNT_LIST_INFO_URL="https://www.rcac.purdue.edu/knowledge/gautschi/run/slurm/queues"
NEWS_FEED_URL="https://www.rcac.purdue.edu/news/gautschi?state=all&order_dir=desc"
PARTITION_STATUS_INFO_URL="https://www.rcac.purdue.edu/knowledge/gautschi/run/slurm/submit"
DISK_USAGE_INFO_URL="https://www.rcac.purdue.edu/knowledge/gautschi/storage/quota"