node_modules
.browserslistrc
*.log
.env.local
.env
.ruby-version
/public/assets
/public/packs
/public/packs-test
testfile.json
/data
/vendor/bundle
/tmp
.DS_Store
.bundle
/app/assets/builds/
!/app/assets/builds/.keep
/*/.bundle