<h3 class="d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center">
        <i class="fas fa-book text-info"></i>
        <span class="mx-2">Documentation</span>
    </div>
</h3>
<div id="documentation_content">
    <div class="row row-cols-2 g-2">
        <div class="col">
            <a href="https://policy.rc.rit.edu/">Acceptable Use Policy</a>
        </div>
        <div class="col">
            <a href="https://bookings.rc.rit.edu/">Schedule an Appointment</a>
        </div>
        <div class="col">
            <a href="https://research-computing.git-pages.rit.edu/docs/faq.html">FAQ</a>
        </div>
        <div class="col">
            <a href="https://research-computing.git-pages.rit.edu/docs/bash_tutorial.html">Linux & Bash Tutorial</a>
        </div>
        <div class="col">
            <a href="https://research-computing.git-pages.rit.edu/docs/slurm_quick_start_tutorial.html">Slurm Tutorial Part 1</a>
        </div>
        <div class="col">
            <a href="https://research-computing.git-pages.rit.edu/docs/software_tutorial.html">Software Tutorial</a>
        </div>
        <div class="col">
            <a href="https://research-computing.git-pages.rit.edu/docs/slurm_tutorial_2.html">Slurm Tutorial Part 2</a>
        </div>
        <div class="col">
            <a href="https://research-computing.git-pages.rit.edu/docs/storage_tutorial.html">Storage Tutorial</a>
        </div>
    </div>
</div>
