<div class="font-weight-bold mb-3 d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center">
        <i class="fas fa-wrench text-secondary fs-4"></i>
        <span class="ms-1 fw-medium fs-4">Maintenance</span>
        <a href="https://research-computing.git-pages.rit.edu/docs/maintenance.html" 
            class="mx-1" 
            style="color: #6c757d; font-size: 1.1rem;"
            data-toggle="tooltip" 
            title="Click to learn more about maintenance windows."
            aria-label="Click to learn more about maintenance windows."
            target="_blank"
        >
            <i class="fas fa-question-circle" aria-hidden="true"></i>
        </a>
        <div class="vr"></div>
        <span id="next_maintenance_span" class="ps-2 font-weight-normal">
            <%= @maintenance %>
        </span>
    </div>
</div>
