<h3 class="mb-3 d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center">
        <i class="fas fa-newspaper" style="color: #20c997"></i>
        <span class="mx-2">Newsletter</span>
    </div>
</h3>
<div style="border-bottom: 1px solid rgba(0,0,0,0.1);" class="mb-3"></div>
<span id="next_maintenance_span" class="ps-2 font-weight-normal">
    Read our latest <a href="https://news.rc.rit.edu/">newsletter</a>! <span class="text-muted"><a class="text-reset" href="https://research-computing.git-pages.rit.edu/docs/news.html#subscribeunsubscribe" style="font-size: .75rem;">Subscribe/Unsubscribe</a></span>
</span>
