<div class="font-weight-bold mb-3 d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center">
        <h4 class="pe-2">
            <i class="fas fa-newspaper text-info"></i>
            <span>Newsletter</span>
        </h4>
        <div class="vr"></div>
        <span id="next_maintenance_span" class="ps-2 font-weight-normal">
            Read our latest <a href="https://news.rc.rit.edu/">newsletter</a>! <span class="text-muted"><a class="text-reset" href="https://research-computing.git-pages.rit.edu/docs/news.html#subscribeunsubscribe" style="font-size: .75rem;">Subscribe/Unsubscribe</a></span>
        </span>
    </div>
</div>
