/* Colors Definitions */
*[data-cluster="sporc"] {
    --cluster-color-subtle: var(--bs-purple-100);
    --cluster-color: var(--bs-purple-400);
    --cluster-color-dark: var(--bs-purple-700);
}
*[data-cluster="tigris"] {
    --cluster-color-subtle: var(--bs-orange-200);
    --cluster-color: var(--bs-orange-500);
    --cluster-color-dark: var(--bs-orange-800);
}

*[data-state="online"] {
    --state-color-subtle: var(--bs-green-200);
    --state-color: var(--bs-green-500);
    --state-color-dark: var(--bs-green-800);
}
*[data-state="idle"] {
    --state-color-subtle: var(--bs-teal-200);
    --state-color: var(--bs-teal-500);
    --state-color-dark: var(--bs-teal-800);
}
*[data-state="drained"] {
    --state-color-subtle: var(--bs-yellow-200);
    --state-color: var(--bs-yellow-500);
    --state-color-dark: var(--bs-yellow-800);
}
*[data-state="maintenance"] {
    --state-color-subtle: var(--bs-orange-100);
    --state-color: var(--bs-orange-400);
    --state-color-dark: var(--bs-orange-700);
}
*[data-state="down"] {
    --state-color-subtle: var(--bs-red-200);
    --state-color: var(--bs-red-500);
    --state-color-dark: var(--bs-red-800);
}
