<li class="nav-item dropdown">
  <a href="#" class="nav-link dropdown-toggle" 
     data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    <i class="fas fa-<%= icon %>"></i> <%= text %>
  </a>

  <div class="dropdown-menu">
    <%= yield %>
  </div>
</li> 